<extend name="Common/base" />
<block name="style">
	<link rel="stylesheet" href="__CSS__/swiper-3.4.1.min.css" />
	<script type="text/javascript" src="__JS__/swiper-3.4.1.jquery.min.js" ></script>
</block>
<block name="menus">
	{:W('Public/exception_menus')}
</block>
<block name="content">
					<div class="hand_top">
						{:W('Public/exception_lists')}
						<div class="shadow_tiao">
							<img src="__IMG__/tiao1.png" />
						</div>
						<div class="success_check">
							<div class="success_title3">
								<img src="__IMG__/shumuxinxiyouwu3.png" />
							</div>
							<div class="success_search outer">
								<input type="text" placeholder="输入图书条码" id="content"/>
								<button id="searchBtn" attr-lId="{$libraryId}" >查看借阅记录</button>
							</div>
							<div class="pagecircle">
								<div class="before_step"><a href="{:U('Exception/handle2_2',['co'=>$co])}">上一步</a></div>
								<ul class="outer">
									<li></li>
									<li></li>
									<li class="pagefan2"></li>
									<li></li>
								</ul>
							</div>
						</div>
					</div>
	</block>
	<block name="script">
		<script>
			$(function(){

				//搜索
				$('#searchBtn').click(function(){
					var content = $('#content').val();
					var lId = $(this).attr('attr-lId');
					console.log(lId);
					var bookId = content+lId;
					if(!content){
						return dialog.error('请先输入内容');
					}else {
						$.ajax({
							type:'get',
							url:"{:U('Exception/handle2Check')}",
							data:'bookId='+bookId,
							dataType:'json',
							success:function(data){
								if(data.code == 1){
									location.href = "{:U('Exception/handle2_4')}?bookId="+bookId;
								}else {
									return dialog.error('该条码不存在书目信息');
								}
							}
						});
					}
				});


				$(".main_right_top ul").children(":eq(6)").addClass("on");
				$(".main_right_top ul").children(":eq(6)").find("a").find(".icon2").show();
				$(".main_right_top ul").children(":eq(6)").find("a").find(".icon1").hide();
				$(".main_left_ul ul").children(":eq(0)").addClass("onup");
				$(".swiper-wrapper").children(":eq(1)").addClass("handleon");



			})
		</script>
	</block>
